<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="background.css">
    <title>CanvasTest</title>
    </head>
    <body>
        <!--Canvasのテスト用だぞ。cssとjavascriptのファイル名が決め打ちされてるから見てね-->
        <canvas id='canvas' width='600' height='600'>
            Canvas not supported
        </canvas>
        <script src='canvas.js'></script>
    </body>
</html>




